@import "normalize";

$focus: #1E78DD;
$muted: rgba(0,0,0,.6);
$soft: rgba(0,0,0,.2);
$titatium: #394042;
$eftaDeepBlue: #0B3F72;
$eftaRed: #DB4745;
$eftaBlue: #5082BC;

$sans-serif: 'Open sans', sans-serif;
$serif: 'Libre Baskerville', serif;


@keyframes targetBlip {
  0%,
  50% {
    color: $eftaRed;
  }
  100% {
    color: inherit;
  }
}

@mixin targetArrow($offset: 4rem) {
  content: '→';
  position: absolute;
  right: 100%;
  margin-right: $offset;
  top: -.1em;
  font-size: 150%;
  line-height: 1;
  color: $eftaRed;
  font-family: 'Arial', sans-serif;
}





:root {
  font-family: $sans-serif;
  font-size: 10px;
  line-height: 1.5;
  
  @media (min-width: 1800px) {
    font-size: 16px;
  }
}

main { display: block; }

body {
  padding-top: 5.6rem;
  font-size: 1.4rem;
  color: $titatium;

  @media print {
    padding-top: 0;
  }

  .page-home & {
    padding-top: 0;
  }
}

@page {
  size: A4;
  margin: 2cm; 
}

hr {
  border: 0;
  border-top: 1px solid $soft;
  margin: 4rem 0;
}

p {
  widows: 2;
  orphans: 2;
}

a {
  color: $eftaRed;
  text-decoration: none;
  word-break: break-word;

  &:hover {
    text-decoration: underline;
  }

  &[target="_blank"] {
    @extend .cursor-newWindow;
  }

  @media print {
    color: inherit;
    // &[href^='http']::after {
    //   content: '[' attr(href) ']';
    // }
  }
}

// Character and Paragraph styles
.section-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: $serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.6rem;
  color: $eftaDeepBlue;

  @media (max-width: 599px) {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }
}

.muted {
  color: $muted;
}
.roman {
  font-style: normal;
}
.italic {
  font-style: italic;
}
.serif {
  font-family: $serif;
}
.sans-serif {
  font-family: $sans-serif;
}


.text-center {
  text-align: center;
}



.small,
small {
  font-size: 85.7143%;
}
.loud {
  font-size: 1.6rem;
  line-height: 2.5rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}


































button {
  cursor: pointer;
}

// Layout
.site-header {
  display: none;
  @media print {
    display: block;
    border-bottom: 1px solid $soft;

    .page-home & {
      display: none;
    }
  }
}
.site-title {
  margin-top: 0;
  font-family: $serif;
  font-weight: normal;
  font-size: 85.7143%;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.site-footer {
  margin-top: 4rem;
  text-align: center;
  
  .page-home & {
    margin-top: 0;
  }
}
.site-footer-inner {
  border-top: 1px solid $soft;
  padding: 1rem 0;

  .page-home & {
    border-top: 0;
  }
}
.site-footer a {
  display: block;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: .4rem;
  &:hover {
    text-decoration: none;
    background: rgba($eftaBlue, .2);
  }
}
.site-footer .sprite {
  font-size: 200%;
}


.container,
main {
  max-width: 86rem;
  margin: 0 auto;
  padding: 0 2rem;
  @media (min-width: 600px) {
    padding: 0 4rem;  
  }
}


@media (min-width: 600px) {
  .row {
    display: flex;
    align-items: center;
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .col {
    flex: 1;
    padding: 0 2rem;
  }
  .col-left {
    order: 1
  }
  .col-right {
    order: 2;
  }
}



.no-list {
  list-style: none;
  padding-left: 0;
}
.no-btn {
  appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
  background: transparent;
}





// Media
.media {
  img,
  video {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media print {
    img {
      max-width: 10cm;
    }
  }
}




.article-cover {
  @extend .cursor-scrollDown;
  position: relative;
  z-index: 999;

  img {
    display: block;
    width: 100%;
    height: 50rem;
    object-fit: cover;
  }

  @media (min-width: 900px) {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
.article-heading {
  font-family: $serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
  color: $eftaDeepBlue;
  text-align: center;

  @media (max-width: 599px) {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  transition: opacity .3s;
  background: #fff;

  white-space: nowrap;
  overflow: auto;


  a {
    display: inline-block;
    padding: 1.6rem;
    color: $muted;
    &:hover {
      color: $titatium;
    }
  }

  .is-selected {
    color: $eftaRed!important;
    font-weight: 600;
    cursor: default;
    pointer-events: none;
  }

  strong {
    font-weight: normal;
    font-size: 80%;
    line-height: 1.2;
    font-family: $serif;
    // font-style: italic;
    display: inline-block;
    vertical-align: middle;
  }

  @media print {
    display: none;
  }

  @media (max-width: 899px) {
    border-bottom: 1px solid $soft;
  }
}
.navbar-inner {
  position: relative;

  @media (min-width: 900px) {
    padding-left: 5.6rem;
    padding-right: 5.6rem;
    border-bottom: 1px solid $soft;
  }
}
.navbar-title {
  .page-home & { display: none; }
}


#backButton {
  padding: 1.6rem;
  font-size: 2.4rem;
  line-height: 1;
  vertical-align: 1px;
  font-family: 'Arial', sans-serif;
  color: $muted;

  &:hover {
    color: #000;
  }
  
  @media (min-width: 900px) {
    position: absolute;
    left: 0;
  }
}


article {
  counter-reset: stage step;
}

.section-step {
  .step-heading,
  p {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
  }

  .media {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-stage {
  counter-increment: stage;
  &::before {
    // content: 'Stage ' counter(stage, upper-roman);
    // display: block;

    // color: $eftaRed;
    // font-size: 2.5rem;
    // text-align: center;
    display: block;
    content: '';
    width: 36rem;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;
    background: url('../images/efta_separator360x120-justiceScales.svg');
    background-size: 100%;
  }

  @media (max-width: 599px) {
    &::before {
      width: 24rem;
      height: 8rem;
    }
  }
}


.step-heading {
  margin-top: 2em;
  counter-increment: step;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  &::before {
    content: counter(step) '. ';
  }
}


.section-stage {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.stage-heading {
  @extend .section-title;

  &::before {
    content: 'Stage ' counter(stage, upper-roman);
    display: block;

    color: $eftaRed;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;

    @media (max-width: 599px) {
      font-size: 1.6rem;
    }
  }
}



// Sections
.section-facts {
  border-top: 1px solid $soft;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 60vh;

  .section-title {
    margin-top: 4rem;
  }
}







// Numbers
.number {
  margin: 4rem 0;
  font-family: $serif;
  text-align: center;

  strong {
    font-size: 4rem;
    font-weight: 400;
    display: block;
    line-height: 1.2;
  }

  &-description {
    margin-top: 1em;
    font-family: $sans-serif;

    @media (max-width: 599px) {
      max-width: 24rem;
      margin-right: auto;
      margin-left: auto;

      &::after {
        content: '';
        display: block;
        max-width: 12rem;
        margin: 4rem auto;
        border-top: 1px solid $soft;
      }
    }
  }
}

@media (min-width: 600px) {
  .numbers {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .number {
    flex: 1 1 auto;
    padding: 0 2rem;
    max-width:  24rem;
  }
}

.tooltip {
  box-sizing: border-box;
  position: absolute;
  display: none;

  z-index: 10000;

  margin: 1rem;
  width: 38rem;
  max-width: 90%;
  padding: 1rem;
  background: #fff;
  padding: 1em;
  color: $titatium;
  text-align: left;
  line-height: inherit;
  font-size: 1.4rem;
  border-radius: 0;
  border: 1px solid $eftaBlue;
  box-shadow: .5rem .5rem 0 0 rgba($eftaBlue, .4);
  opacity: 1!important;
}

// Tips
.tip-glossary {
  @extend .cursor-help;
  border-bottom: 1px dotted rgba($eftaRed, 1);
  transition: border .5s;
  color: inherit;

  &:hover {
    border-bottom-style: solid;
    text-decoration: none;
  }
}

// Cursors
.cursor-help {
  cursor: url('../images/efta_cursor64x64-help.png') 32 32, help;
}
.cursor-download {
  cursor: url('../images/efta_cursor64x64-download.png') 32 32, auto;
}
.cursor-newWindow {
  cursor: url('../images/efta_cursor64x64-newWindow.png') 32 32, auto;
}
.cursor-scrollDown {
  cursor: url('../images/efta_cursor64x64-scrollDown.png') 32 32, auto;
}
.cursor-paragraph {
  cursor: url('../images/efta_cursor64x64-pilcrow.png') 32 32, auto;
}


// Step details
.step-details {
  text-align: center;

  p,
  li {
    // font-family: $serif;
    font-size: 1.2rem;
    font-style: italic;
  }
  h5 {
    margin-bottom: .5em;
  }

  button {
    @extend .no-btn;
    border: 1px solid transparent;
    border-radius: .2rem;
    &.btn-round {
      border-radius: 50%;
    }
    &:hover {
      border-color: rgba($eftaBlue, .4);
    }
    &:focus,
    &.is-active {
      border-color: rgba($eftaBlue, 1);
      outline: none;
    }
  }

  .step-detail {
    text-align: left;
  }

  @media print {
    display: none;
  }
}

.step-detail {
  display: none;

  &.is-active {
    display: block;
  }

  margin-left: 1rem;
  border-left: 1px solid $eftaBlue;
  padding-left: 1.5rem;
  
}

.step-more {
  @media print {
    display: none;
  }
}




.sr,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}


// Sprites
.sprite {
  display: inline-block;
  height: 2.25em;
  width: 3.125em;
  vertical-align: middle;
  background-size: auto 100%; 
  background-repeat: no-repeat;
  background-image: url('../images/efta_spritesheet.png');
}
 
.sprite-iceland {
  background-position: 0 0;
}
.sprite-liechtenstein {
  background-position: 15.5% 0;
}
.sprite-norway {
  background-position: 31% 0;
}
.sprite-efta,
.sprite-secretariat {
  width: 3.75em;
  background-position: 48% 0;
}
.sprite-eu {
  width: 3.375em;
  background-position: 66% 0;
}
.sprite-general {
  width: 2.25em;
  background-position: 78.5% 0;
}
.sprite-timeline {
  width: 2.25em;
  background-position: 89.25% 0;
}
.sprite-translation {
  width: 2.25em;
  background-position: 100% 0;
}



.glossary {
  dt {
    float: left;
    font-weight: 600;
    &::after {
      content: " — ";
    }
  }
  dt:target,
  dt:target + dd {
    animation: targetBlip 2s 1;
  }
  dd {
    margin-left: 0;
    margin-bottom: 1em;
  }
  dd + dd {
    margin-bottom: 0;
  }
}

@import "details";
