<nav class="main-nav">
  <div class="container">
    <a href="{{ site.baseurl }}/" {% if page.url == '/' %}class="is-selected"{% endif %}>Overview</a>
    <a href="{{ site.baseurl }}/details" {% if page.url == '/details.html' %}class="is-selected"{% endif %}>The procedure in detail</a>
    <a href="{{ site.baseurl }}/glossary" {% if page.url == '/glossary.html' %}class="is-selected"{% endif %}>Glossary</a>
    <a href="{{ site.baseurl }}/efta_presentation-howEULawBecomesEEALaw-v1.0.pdf" class="cursor-download">Download PDF</a>
  </div>
</nav>
