<nav class="navbar">
  <div class="container">
    <div class="navbar-inner">
      <button type="button" id="backButton" class="no-btn" hidden>
        &larr;
        <span class="sr">Back</span>
      </button>
      <script>
        var lastLocation = localStorage.getItem('lastLocation');
        if (lastLocation && lastLocation !== window.location.href && window.location.hash) {
          var backButton = document.querySelector('#backButton');
          backButton.removeAttribute('hidden');
          backButton.onclick = function() { window.history.back() };
        }
        localStorage.setItem('lastLocation', window.location.href);
      </script>

      <!-- <div class="navbar-title">
        <strong>How EU Law becomes EEA Law</strong>
      </div> -->
      <a href="{{ site.baseurl }}/" {% if page.url == '/' %}class="is-selected"{% endif %}>{% translate global.overview %}</a>
      <a href="{{ site.baseurl }}/details" {% if page.url == '/details/' %}class="is-selected"{% endif %}>{% translate global.procedure %}</a>
      <a href="{{ site.baseurl }}/glossary" {% if page.url == '/glossary/' %}class="is-selected"{% endif %}>{% translate global.glossary %}</a>
      
      <select name="languagePicker" id="languagePicker" onchange="location = this.value">
          <option {% if site.lang == "en" %} selected {% endif %} value="{{site.baseurl_root}}{{page.url}}">English</option>
          <option {% if site.lang == "de" %} selected {% endif %} value="{{site.baseurl_root}}/de{{page.url}}">Deutsch</option>
          <option {% if site.lang == "is" %} selected {% endif %} value="{{site.baseurl_root}}/is{{page.url}}">Íslenska</option>
          <option {% if site.lang == "no" %} selected {% endif %} value="{{site.baseurl_root}}/no{{page.url}}">Norsk</option>
      </select>
    </div>
  </div>
</nav>
