{% include navigation.html %}

<main>
  <div class="container">
    <h1>Glossar</h1>

    <dl class="glossary">
      {% for term in site.data.glossary_de %}
        <dt id="{{ term.id}}">{% if term.link %}<a href="{{ term.link }}" target="_blank" rel="external">{% endif %}{{ term.name }}{% if term.link %}</a>{% endif %}</dt>
        <dd>
          {{ term.definition | md }}
          {% if term.more %}
            <a href="{{ term.more }}">{{ term.more }}</a>
          {% endif %}
        </dd>
      {% endfor %}
    </dl>
  </div>
</main>
